.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.carouseltext {
  color: white;
  font-size: 5rem;
  font-family: 'Staatliches', sans-serif;
  text-align: left;
  margin-left: 4rem;
}

@media only screen and (min-width: 1100px) {
  .carouseltext {
    visibility: visible;
  }
  .carouseltext2 {
    font-size: 1px;
    visibility: hidden;
  }
  .imgdesktop{
    display: block;
  }
  .imgmobile {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .carouseltext {
    font-size: 3rem;
  }
  .carouseltext2 {
    font-size: 1px;
    visibility: hidden;
  }
  .imgdesktop{
    display: block;
  }
  .imgmobile {
    display: none;
  }
}

@media only screen and (max-width: 764px) {
  .carouseltext {
    visibility:hidden;
  }
  .carouseltext2 {
    font-size: 35px;
    visibility: visible;
  }
  .imgdesktop{
    display: none;
  }
  .imgmobile {
    display: block;
  }
  .calltoaction button {
    text-align: center;
    margin-left: 35%;
  }
}

@media only screen and (max-width: 622px) {
  .carouseltext {
    visibility:hidden;
  }
  .carouseltext2 {
    font-size: 25px;
    visibility: visible;
    text-align: left;
    margin-left: 10%;
  }
  .calltoaction button {
    text-align: center;
    margin-left: 25%;
  }
  .imgdesktop{
    display: none;
  }
  .imgmobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .carouseltext {
    visibility:hidden;
  }
  .carouseltext2 {
    font-size: 22px;
    visibility: visible;
    text-align: left;
    margin-left: 10%;
  }
  .calltoaction button {
    text-align: center;
    margin-left: 2%;
  }
  .imgdesktop{
    display: none;
  }
  .imgmobile {
    display: block;
  }
}

.textbuttoncar {
  padding-bottom: 20%;
}

.calltoaction {
  width: 150px;
  text-decoration: none;
  font-family: 'Thasadith', sans-serif;
  text-align: left;
  margin-left: 4rem;
}

.calltoaction button {
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  width: 200px;
  height: 50px;
  text-align: center;
}

.custom-btn {
  width: 30%;
  height: 100%;
  padding: 5px 0px;
  border: 2px solid #000;
  font-family: 'Thasadith',sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-16 {
   background: #000;
  color: black;
  z-index: 1;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: #999da3;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}